<h1 class='page-header'>Beacons</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>State</th>
      <th>Uniq number</th>
      <th>Description</th>
      <th>Company</th>
      <th>Area</th>
      <th>Zone</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.state %></td>
        <td><%= beacon.uniq_number %></td>
        <td><%= beacon.description %></td>
        <td><%= beacon.company.name %></td>
        <td><%= beacon.area_id %></td>
        <td><%= beacon.zone_id %></td>
        <td><%= link_to 'Show', beacon %></td>
        <td><%= link_to 'Edit', edit_beacon_path(beacon) %></td>
        <td><%= link_to 'Destroy', beacon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beacon', new_beacon_path %>
