<p>
  <strong>State:</strong>
  <%= @beacon.state %>
</p>

<p>
  <strong>Uniq number:</strong>
  <%= @beacon.uniq_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beacon.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @beacon.company_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @beacon.area_id %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @beacon.zone_id %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
