html {
  height: 100%;
}

body {
  height: 100%;
  background: #e4ecef;
  color: #333;
  margin: 0;
  font-family: 'lato', helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
}

input, textarea, select, label {
  box-sizing: border-box;
  font-size: 12px;
}
