$to_estimate: #b0b0b0;
$estimated:   #31bee1;
$in_progress: #CEC700;
$done:        #02B137;

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 670px;
  background: #e4ecef;
  color: #333;
  margin: 0;
  font-family: 'lato', helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  overflow-x: hidden;
}

input, textarea, select, label {
  box-sizing: border-box;
  font-size: 12px;
}
