#new-story {
  position: relative;
  margin: 20px auto;
  padding: 5px;
  width: 92%;
  background: #eef5f7;
  border: 1px solid #cfd5da;
  border-radius: 5px;

  .new-story-inner {
    padding: 20px;
    background: white;
    border-radius: 5px;
  }
}

#issuetable {
  text-align: center;

  .summary {
    padding-right: 10px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: #326CA6;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .summary,
  .nav.total {
    border: none;
    text-align: left;
  }

  th {
    font-size: 0.8em;
    padding: 3px 5px;
    vertical-align: middle;
    color: #999999;
  }

  td {
    padding: 5px 3px;
  }

  td {
    border-left: 1px solid #ddd;
  }

  tr {
    border-bottom: 1px solid #eee;
  }
  .nav {
    // border-bottom: 1px solid #eee;
  }
  // .border {
  //   border-left: 1px solid #ddd;
  // }
  .rowAlternate {
    background-color: #F5FAFF;
  }
  .rowHeader {
    padding: 3px 7px;
  }

  .issuetype {
    width: 20px;
    border: none;
    .in_progress { color: $in_progress; }
    .done { color: $done; }
    .to_estimate { color: $to_estimate; }
    .estimated { color: $estimated; }
  }
  .colHeader {
    color: #000;
    font-size: 1.2em;
  }

  .rowFooter {
    background-color: #E0F0FF;
    font-weight: bold;
    border: none;
    padding-left: 10px;
  }
  .businessDay {
  }
  .nonBusinessDay {
    background-color: #ffeedd;
  }
  .toDay {
    background-color: #e3feeb;
  }
  #slider-prev {
    position: absolute;
    left: 5px;
    bottom: 0px;
  }
  .total {

  }
}
