@import
"components/stories/new_story",
"components/graphs/inline_dialog",
"components/stories/show_story";

#stories-sidebar {
  border: none;
  box-shadow: inset -7px 0 25px -7px #BDBDBD;

  .sidebar-title {
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  .devider {
    margin: 6px 0px;
    width: 100%;
    height: 1px;
  }

  .sidebar-list {
    li {
      padding: 5px 10px 5px 5px;
      cursor: pointer;

      &.selected {
        background-color: #CECECE;
        color: #000000;

        .badge {
          color: #000000;
          border: 1px solid #838383;
        }
      }

      i {
        width: 20px;
        text-align: right;
        margin-right: 10px;

        &.in_progress { color: $in_progress; }
        &.done { color: $done; }
        &.to_estimate { color: $to_estimate; }
        &.estimated { color: $estimated; }
      }

      .badge {
        float: right;
        background: #E9E9E9;
        border-radius: 3em;
        color: #333333;
        font-size: 0.8em;
        min-width: 13px;

        padding: 0 5px;
        text-align: center;
        border: 1px solid #838383;
      }
    }
  }
}

// "components/stories/story_box"
.banner-box {
  background: #FFF;
  // display: inline-block;
  margin: 0 5px 15px 0;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);

  table {
    background: #fff;
    border: 0;
    border-collapse: separate;
    border-radius: 4px;
    border-spacing: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
    width: 100%;

    tr {
      border: 0;
      border-top: 1px solid #e0e0e0;
    }

    td {

      &.type {
        width: 5%;

        &.in_progress { background-color: $in_progress; }
        &.done { background-color: $done; }
        &.to_estimate { background-color: $to_estimate; }
        &.estimated { background-color: $estimated; }
      }

      &.title {
        vertical-align: middle;
        padding-top: 15px;
        max-width: 0;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #36474F;
          font-size: 1.2em;
          font-weight: bold;
          margin: 0 10px;
        }
      }

      &.learn-more {
        padding: 5px 20px;
        height: 15px;

        span {
          color: #95a5a6;
          text-transform: uppercase;
          font-size: 0.6em;
          font-weight: bold;
        }
      }

      &.actions {
        width: 20%;
        vertical-align: middle;
        text-align: right;
        padding-right: 2%;

        a {
          color: #808080;
          font-size: 1.2em;
          margin-right: 10px;
          cursor: pointer;

          &:hover {
            color: #333333;
          }
        }
      }
    }
  }
}


// "components/stories/story_wrapper"
.stories-main {
  padding: 10px 20px 5px;

  .stories-period {
    .period-title {
      padding: 3px;
      margin: 0;
      color: #5c5d5d;
      font-size: 1.3em;
    }

    .story-list {
      margin: 5px 0 15px 0;
    }
  }
}


// stories_container
.stories-container {
  height: calc(100vh - 62px);
  width: 100%;
  display: table;

  #stories-sidebar {
    display: table-cell;
    vertical-align: top;
    width: 30%;
  }

  #stories-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 70%;
  }
}
