@import
  "components/stories/stories_sidebar",
  "components/stories/story_box";


.stories-wrapper {
  @include clearfix;

  #stories-main {
    @include clearfix;

    padding: 20px 20px 5px;
    margin-right: 275px;
    box-shadow: 7px 0px 4px -5px #bdbdbd;
  }
}
