input, textarea, select, label {
  font-size: 12px;

  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
}

#contentWrapper {
  position: relative;
  margin: 20px auto;
  padding: 5px;
  width: 92%;
  background: #EEF5F7;
  border: 1px solid #CFD5DA;
  border-radius: 5px;

  .contentBox {
    padding: 20px;
    background: white;
    border-radius: 5px;
  }
}

.button {
  display: inline-block;
  outline: 0;
  padding: 5px 14px;
  color: #729FB2;
  background: #DEEEF4;
  border: 1px solid #BED6E3;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;

  &:active {
    color: #6A95A9;
    background: #C9DFF9;
    border-color: #a3bed0 #b5ccda #b5ccda;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
  }
}
