<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @area.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @area.company_id %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
