<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css'>

    <link rel='stylesheet' href='../css/about_page.css'>

    <script src='../js/about_page.js'></script>
  </head>

  <body>
    <div class='window'>
      <div class='window-controls'>
        <div class='window-controls-buttons'>
          <a href='#' class='close' id='hideAboutBtn'>close</a>
          <a href='#' class='deactivate'>deactivate</a>
          <a href='#' class='deactivate'>deactivate</a>
        </div>

        <div class='window-controls-title'>About Time Tracker</div>
      </div>

      <div class='window-container'>
        <img src='../images/time-tracker.png' alt='Time Tracker'>

        <div class='about'>
          <div class='version'>Version 0.0.1</div>

          <p><strong>Time Tracker</strong></p>
          <p>App is based on Electron, React, Redux + Rails as a back end.</p>

          <p><strong>Back End API:</strong></p>
          <p>https://peaceful-dawn-52251.herokuapp.com</p>

          <div class='copyright'>
            <div>Github: https://github.com/DmytroVasin</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
