<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

    <script type='text/javascript'>
      window.ipcRenderer = require('electron').ipcRenderer;
    </script>

    <!--
    <script>
      // const alertOnlineStatus = () => {
      //   console.log(navigator.onLine ? 'online' : 'offline')
      // }

      // window.addEventListener('online',  alertOnlineStatus)
      // window.addEventListener('offline',  alertOnlineStatus)

      // alertOnlineStatus()
    </script>
    -->
  </head>

  <body>
    <div id='react-root'></div>

    <script src='http://localhost:8080/browser-app/dist/js/main.js'></script>
    <!-- <script src='../../../browser-app/dist/js/main.js'></script> -->
  </body>
</html>
