<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @zone.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @zone.company_id %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @zone.zone_id %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
