.inlineDialogWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5)
}

.inlineDialog {
  top: 155px;
  right: 175px;

  color: #777777;
  position: absolute;
  border: 2px solid #E0F0FF;
  background-color: #FFFFFF;
  padding: 5px 10px;
  width: 250px;

  .new-story-input {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 5px;
    background: #eef7f9;
    border-radius: 2px;

    input,
    textarea {
      display: block;
      width: 100%;
      height: 29px;
      padding: 5px 10px;
      color: #4d5a5e;
      background: white;
      border: 1px solid #cfdfe3;
      border-radius: 2px;

      &:focus {
        border-color: #93c2ec;
        outline: 0;
        box-shadow: 0 0 0 8px #e1ecf5;
      }
    }

    textarea {
      padding: 4px 8px;
      min-height: 90px;
      resize: none;
    }

    .select {
      display: block;
      position: relative;
      overflow: hidden;
      background: white;
      border: 1px solid #d2e2e7;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

      select {
        position: relative;
        width: 100%;
        height: 29px;
        padding: 5px 10px;
        color: #80989f;
        background: transparent;
        border: 0;

        &:focus {
          color: #4d5a5e;
          outline: 0;
        }
      }
    }
  }

  .new-story-input {
    float: left;
    margin: 0px;
    padding: 3px;

    padding: 3px;
    width: 70%;
    box-sizing: border-box;

    input {
      padding: 0px 5px;
      height: 20px;
    }
  }

  .input-row {
    @include clearfix;
    margin-bottom: 5px;

    .input-row-title {
      float: left;
      width: 75px;
      padding: 3px 0;
    }
    &:last-child {
      margin: 0;
    }
  }

  .timeTitle {
    margin-bottom: 5px;
  }


  .downloads {
    border-bottom: 1px solid #E0F0FF;
    margin-bottom: 5px;
    padding-bottom: 5px;

    .download {
      display: flex;
      flex-flow: row;

      @include clearfix;

      .taskTime {
        padding-right: 5px;
        border-right: 1px solid #E0F0FF;
      }

      .taskTitle {
        padding-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.8em;
      }

      .fa {
        line-height: 21px;
        margin: 0 5px 0 0;
        color: #FF0000;
        cursor: pointer;
        flex: 10%;
        text-align: right;
      }
    }
  }

  .hidden {
    display: none;
  }


  &:after, &:before {
    content: '';
    position: absolute;
    left: 84%;
    width: 1px;
    height: 1px;
    border: outset transparent;
    border-width: 12px 14px 14px;
    border-bottom-style: solid;
  }
  &:after {
    top: -26px;
    border-bottom-color: #FFFFFF;
  }
  &:before {
        top: -28px;
    border-bottom-color: #E0F0FF;
  }
}
