.banner-box {
  background: #FFF;
  float: left;
  margin: 20px 10px 10px 20px;
  width: 350px;

  table {
    background: #fff;
    border: 0;
    border-collapse: separate;
    border-radius: 4px;
    border-spacing: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);

    tr {
      border: 0;
      border-top: 1px solid #e0e0e0;
    }

    td {
      border: 1px solid rgba(207,216,220,.24);
      text-align: left;

      &.type {
        width: 40px;

        &.yellow { background-color: #CEC700; }
        &.green { background-color: #02B137; }
        &.red { background-color: #FF7799; }
      }

      &.description {
        padding: 8px 12px;

        h3 {
          color: #36474F;
          font-size: 20px;
          font-weight: bold;
          margin: 0 10px;
        }
      }

      &.learn-more {
        font-size: 12px;
        padding: 8px 12px;

        span {
          color: #2B85E7;
          cursor: pointer
        }
      }
    }
  }
}
