<!DOCTYPE html>
<html>
  <head>
    <script>
      window.nodeRequire = require;

      delete window.require;
      delete window.exports;
      delete window.module;
    </script>

    <title>First page</title>
    <link rel="stylesheet" href="../stylesheets/application.css" />
    <link rel="stylesheet" href="../stylesheets/_table.css" />

    <script src='https://code.jquery.com/jquery-3.1.0.min.js' integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=' crossorigin="anonymous"></script>
    <script src="../javascripts/renderer/application.js" type="text/javascript"></script>
    <!-- <script src="../javascripts/main/menu.js" type="text/javascript"></script> -->
  </head>

  <body>
    <div class="message">
      <h1 id="title"></h1>
      <div id="details"></div>
      <small id="versions"></small>
    </div>

    <script type="text/javascript">
      console.log($("#versions").length)
    </script>

    <table id="issuetable" cellspacing="0" cellpadding="3" border="0">
      <thead>
        <tr class="rowHeader">
          <th class="colHeaderLink" colspan="5"></th>
          <th ><span>Fri<br>08/Jul</span></th>
          <th class="nonBusinessDay"><span>Sat<br>09/Jul</span></th>
          <th class="nonBusinessDay"><span>Sun<br>10/Jul</span></th>
          <th ><span>Mon<br>11/Jul</span></th>
          <th ><span>Tue<br>12/Jul</span></th>
          <th ><span>Wed<br>13/Jul</span></th>
          <th class="toDay"><span>Thu<br>14/Jul</span></th>
          <th><br>Total</th>
        </tr>
      </thead>

      <tbody>
        <tr class="rowNormal">
          <td class="nav issuetype">
            <span class=""><img width="16" height="16" src="#"></span>
          </td>

          <td class="nav issuekey">
            <span class="">LA-1339</span>
          </td>

          <td class="nav summary" colspan="2" width="100%">
            <span class="">Loyalty App Bank Details need to be configurable</span>
          </td>

          <td class="nav priority">
            <span class=""><img width="16" height="16" alt="Major" src="#"></span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="nonBusinessDay">
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="nonBusinessDay">
            <span class="fa fa-plus hidden"></span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="toDay">
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="total">2h</td>
        </tr>

        <tr class="rowAlternate">
          <td class="nav issuetype">
            <span href="#" class="">
              <img width="16" height="16" title="Issue type for a user story." alt="Story" src="#">
            </span>
          </td>

          <td class="nav issuekey">
            <span href="#" title="" class="">LA-1392</span>
          </td>

          <td class="nav summary" colspan="2" width="100%">
            <span href="#" title="" class="">A unique code will be added to all accounts</span>
          </td>

          <td class="nav priority">
            <span href="#" class="">
              <img width="16" height="16" alt="Critical" src="#">
            </span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="nonBusinessDay">
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="nonBusinessDay">
            <span class="fa fa-plus hidden"></span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td >
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="editWorklogPopup">
            3h
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="toDay">
            <span class="fa fa-plus hidden"></span>
          </td>

          <td class="total">
            3h
          </td>
        </tr>

        <tr class="rowFooter">
          <td colspan="5" class="nav total">Total:</td>
          <td class="total">8h</td>
          <td class="total"></td>
          <td class="total"></td>
          <td class="total">8h</td>
          <td class="total">8h</td>
          <td class="total">8h</td>
          <td class="total">2h</td>
          <td class="total">64h</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
