<!DOCTYPE html>
<html>
  <head>
    <script>
      window.nodeRequire = require;

      delete window.require;
      delete window.exports;
      delete window.module;
    </script>

    <title>First page</title>

    <script src='https://code.jquery.com/jquery-3.1.0.min.js' integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=' crossorigin="anonymous"></script>
    <!-- <script src="../js/renderer/application.js" type="text/javascript"></script> -->
    <!-- <script src="../js/main/menu.js" type="text/javascript"></script> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../../browser-app/dist/css/application.css">

    <!--
    <script>
      const shell = require('electron').shell;
    </script>
    -->

    <!-- <script src="../../browser-app/dist/js/application.js"></script> -->
  </head>

  <body>


  </body>
</html>
