html {
  height: 100%;
}

body {
  height: 100%;
  color: #333;
  font-size: 14px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.4em;
}

.window {
  height: 100%;
  background: #EDEDED;
  position: relative;
}

.window-controls {
  background-image: linear-gradient(to bottom, #e9e9e9 0, #c2c2c2 100%);
  color: #4d494d;
  text-align: center;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  -webkit-user-select: none;
  cursor: default;
}

.window-controls .window-controls-title {
  -webkit-app-region: drag;
  cursor: default;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.window-controls .window-controls-actions {
  position: absolute;
  left: 4px;
  top: 5px;
  display: flex;
}

.window-controls .window-controls-actions .btn {
  cursor: pointer;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-size: 13px 13px;
}

.window-controls .window-controls-actions .btn.close {
  background-image: url(../images/close-normal.png);
}
.window-controls .window-controls-actions:hover .btn.close {
  background-image: url(../images/close-hover.png);
}
.window-controls .window-controls-actions .btn.close:active {
  background-image: url(../images/close-press.png);
}
.window-controls .window-controls-actions .btn.minimize {
  background-image: url(../images/min-normal.png);
}
.window-controls .window-controls-actions:hover .btn.minimize {
  background-image: url(../images/min-hover.png);
}
.window-controls .window-controls-actions .btn.minimize:active {
  background-image: url(../images/min-press.png);
}
.window-controls .window-controls-actions .btn.maximize {
  background-image: url(../images/max-normal.png);
}
.window-controls .window-controls-actions:hover .btn.maximize {
  background-image: url(../images/max-hover.png);
}
.window-controls .window-controls-actions .btn.maximize:active {
  background-image: url(../images/max-press.png);
}
.window-controls .window-controls-actions .btn.deactivate {
  background-image: url(../images/disabled.png);
}




// About page:
.window-container img {
  margin:0 0 5px 0;
}
.window-container .version {
  color: #848484;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.window-container .about {
  font-size: 10px;
  line-height: 14px;
}
.window-container .about p {
  margin: 5px 0;
}
.window-container .about p strong {
  font-size: 12px;
  font-weight: bold;
}

.window-container .copyright {
  font-size: 11px;
  margin-top: 15px;
  color: #848484;
}

.window-container {
  padding:20px 30px;
  text-align:center;
}
