<!DOCTYPE html>
<html>
  <head>
    <title>Timetrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-3 col-md-2 sidebar'>
          <ul class='nav nav-sidebar'>
            <li class='active'><a href='#'>Overview <span class='sr-only'>(current)</span></a></li>
            <li><a href='#'>Reports</a></li>
            <li><a href='#'>Analytics</a></li>
            <li><a href='#'>Export</a></li>
          </ul>
        </div>

        <div class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main'>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>

